.specifications {
  margin-block: 30px;
  color: var(--midnight-blue-color);
}

.specifications p {
  margin-block: 16px;
  font-size: 16px;
  line-height: 24px;
}

/* lines */
.specifications > div {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #8F8F8F;
}

/* rows / cells */
.specifications > div > div {
  width: 100%;
}

@media (width >= 600px) {
  .specifications > div {
    flex-direction: row;
    column-gap: 80px;
  }

  .specifications > div > div:first-child {
    font-weight: bold;
    flex-basis: 300px;
    text-align: start;
    padding-left: 20px;
  }
}
