/* stylelint-disable selector-class-pattern */

.ingredients {
  display: flex;
  align-items: stretch;
  margin-top: 64px;
}

.ingredient__name {
  font-size: 15px;
  line-height: 1.6;
  margin-top: 30px;
}

.ingredient__name:first-child {
  margin-top: 0;
}

.ingredient__amount {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.208;
  margin-left: 0;
}

.ingredients__content {
  flex: 1;
  flex-basis: 85%;
  margin-block: 0;
}
