body.product-focus,
body.segment-focus {
  .section {
    padding: 0;
  }

  .default-content-wrapper {
    display: flex;
    height: 100%;
    max-width: 100%;
    flex-direction: row-reverse;

    h1 {
      font-size: var(--heading-font-size-l);
      margin-top: 20px;
    }

    h2 {
      font-size: var(--heading-font-size-s);
    }

    .group {
      font-size: var(--paragraph-font-size);
      line-height: 1.35;
      display: flex;
      justify-content: space-between;
      padding: 64px 20px 40px 56px;
      width: 50%;
      flex-direction: column;
      box-sizing: border-box;
      max-height: 100vh;
      overflow-y: scroll;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .sub-group {
      font-size: var(--paragraph-font-size);
      display: flex;
      flex-direction: column;

      h2 {
        line-height: 26px;
        margin: 0;
        font-size: var(--paragraph-font-size);

        & + p {
          line-height: 27px;
          margin-top: 30px;
        }
      }
    }

    & > p:first-child {
      margin: 0;
      height: 100vh;
      width: 50%;
      position: relative;

      img {
        width: 100%;
        height: 100vh;
        object-fit: contain;
      }
    }
  }
}
