/* GENERAL TO BOTH LAYOUTS */
body.product-focus,
body.segment-focus {
    /* LAYOUT */
    .default-content-wrapper {
        display: grid;
        grid-template-areas:
            "header header"
            "text image";
        grid-template-columns: 1fr 1fr;

        .content__header {
            grid-area: header;
        }

        .content__image {
            grid-area: image;
        }

        .content__body {
            grid-area: text;
        }
    }

    /* COSMETIC */
    .content__header {
        margin: 0;
        padding-bottom: 30px;
    }

    .content__image {
        margin: 0;
    }
    .content__body {
        font-size: 20px;
        line-height: 1.35;
    }

    h1 {
        font-size: var(--heading-font-size-l);
        margin: 0;
    }
    h2 {
        font-size: var(--heading-font-size-s);
        margin-top: 20px;
    }
    h3 {
        font-size: 20px;
        line-height: 1.35;
        margin-bottom: 0;
        color: #476ABA;
    }
    h3+ p {
        margin-top: 0;
    }
    ul {
        margin-block: 22px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

/* DIFFERENCES */

body.product-focus {
    .content__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body.segment-focus {
    .content__image {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .content__image picture{
        max-width: 60%;
        margin-inline: auto
    }
}