/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

/* GENERAL TO BOTH LAYOUTS */
body.product-focus,
body.segment-focus {
    /* LAYOUT */
    .default-content-wrapper {
        display: grid;
        grid-template-areas:
            "header header"
            "text image";
        grid-template-columns: 1fr 1fr;

        .content__header {
            grid-area: header;
        }

        .content__image {
            grid-area: image;
        }

        .content__body {
            grid-area: text;
        }
    }

    /* COSMETIC */
    .content__header {
        margin: 0;
        padding-bottom: 30px;
    }

    .content__image {
        margin: 0;
    }

    .content__body {
        font-size: 20px;
        line-height: 1.35;
    }

    h1 {
        font-size: var(--heading-font-size-l);
        margin: 0;
    }

    h2 {
        font-size: var(--heading-font-size-s);
        margin-top: 20px;
    }

    h3 {
        font-size: 20px;
        line-height: 1.35;
        margin-bottom: 0;
        color: #476ABA;
    }

    h3+ p {
        margin-top: 0;
    }

    ul {
        margin-block: 22px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

/* DIFFERENCES */

body.product-focus {
    .content__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body.segment-focus {
    .content__image {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .content__image picture{
        max-width: 60%;
        margin-inline: auto
    }
}

.narrow-screen-disclaimer {
  display: none;
  visibility: hidden;
}

@media (width < 1024px) {
  .narrow-screen-disclaimer {
    visibility: visible;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-30);
    text-align: center;
    color: var(--midnight-blue-color);
    background: url('https://agentic.innovationlab.cx/app/welcome-bg-Bgd49q_Z.png');
    background-size: cover;
    background-position: bottom;

    h1{
      margin-block: 0;
    }

    .icon {
      width: 154px;
      height: 91px;
      overflow: hidden;
      margin-bottom: 50px;
    }

    p{
      margin-block: 0;
    };

    p+p {
      margin-top: 0;
    }
  }

  /* Make all other content inert when disclaimer is shown */
  main:has(.narrow-screen-disclaimer) > :not(.narrow-screen-disclaimer) {
    /* stylelint-disable-next-line property-no-unknown */
    inert: true;
  }
}
/* stylelint-enable no-descending-specificity */
/* stylelint-enable selector-class-pattern */
