@import url('accessories.css');

/* @import url('base-model.css'); */

/* @import url('configuration-result.css'); */

:root {
  /* colors */
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --midnight-blue-color: #000048;
  --dark-blue: #2F78C4;
  --dark-teal: #11C7CC;
  --link-color: var(--dark-blue);
  --link-hover-color: #136ff6;

  /* fonts */
  --body-font-family: "Gellix", "Gellix-fallback";
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Gellix', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 0;

  /* spacings */
  --container-width: 1106px;  /* the max-width */
  --min-padding: 2em;   /* padding on small screen */
}

@font-face {
  font-family: Gellix-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxxl: 84px;
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
    --paragraph-font-size: 20px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  display: none;
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }

h2 { font-size: var(--heading-font-size-xl) }

h3 { font-size: var(--heading-font-size-l) }

h4 { font-size: var(--heading-font-size-m) }

h5 { font-size: var(--heading-font-size-s) }

h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  font-size: var(--paragraph-font-size);
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: #000048;
  background-color: #11C7CC;
  margin: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  text-decoration: underline;
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

.button.icon-arrow-right::after  {
  content: '';
  background: url('/icons/arrow-right-bold.svg');
  fill: inherit;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -3px;
  margin-right: -7px;
}

.float-right {
  float: right;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
.section {
  margin-inline: max(var(--min-padding),50cqw - var(--container-width)/2);
}

.fullbleed {
  margin-inline: min(-1 * var(--min-padding),var(--container-width)/2 - 50cqw);
  padding-inline: max(var(--min-padding),50cqw - var(--container-width)/2);
}

@media (width >= 1920px) {
  h1 { font-size: var(--heading-font-size-xxxl) }

  h2 { font-size: var(--heading-font-size-xxl) }

  h3 { font-size: var(--heading-font-size-xl) }

  h4 { font-size: var(--heading-font-size-l) }

  h5 { font-size: var(--heading-font-size-m) }

  h6 { font-size: var(--heading-font-size-s) }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

.default-content-wrapper {
  color: var(--midnight-blue-color);
}

.default-content-wrapper h2 {
  margin-top: 60px;
}

.default-content-wrapper .info {
  background-color: var(--background-color);
  opacity: 0.9;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* Product specs container: */
.product-spec-container {
  width: 100%;
  margin-top: 30px;
}

.product-spec-container table {
  width: 100%;
  border-collapse: collapse;
}

.product-spec-container table td {
  border-bottom: 1px solid #8F8F8F;
  padding: 15px 20px;
  width: 50%;
}

.product-spec-container table tr td:first-child {
  font-weight: bold;
}

/* Specifications container: */
.spec-container {
  margin-top: 86px;
}

.spec-container .spec-table {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.spec-container .spec-item {
  padding: 15px 0;
}

.spec-container .spec-title {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: lowercase;
}

.spec-container .spec-value {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.spec-container h2 {
  clear: both;
}

/* Specifications container tablet/desktop: */
@media (width >= 600px) {
  .spec-container .spec-table {
    flex-direction: row;
    gap: 20px;
  }
}

/* Specifications container desktop: */
@media (width >= 900px) {
  .spec-container .spec-value {
    font-size: 26px;
  }
}

/* LAYOUT */

/* THEME */

/* Using var for min-padding */
.container {
  margin-right: min(-1 * var(--min-padding), var(--container-width)/2 - 50cqw);
}
